body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: rgb(43, 124, 171);
  position: relative;
  float: left;
  width: 98%;
  margin: 1%;
  padding: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
header>nav>ul>li {
  display: inline;
  margin-right: 10px;
  border: none;
}
a {
  text-decoration: none;
}
.avatar {
  width: 100%;
  max-width: 8.75em;
}
.search {
  font-size: 1.5em;
  background: #1f9323;
  color: #fff;
  border: none;
  padding: 7px 10px;
  margin-right: 30px;
  border-radius: 5px;
}

.back,
.add-property,
.logout,
.login,
.select-contact {
  background: #f3f3f3;
  border-radius: 3px;
  color: #444;
  padding: 4px 7px;
}
.active {
  background: #444;
  color: #f3f3f3;
}
form {
  padding-bottom: 5em;
}
form ul {
  padding: 0;
}
form li {
  margin-top: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  padding: 5px; 
  border-radius: 5px;
}
form label {
  display: block;
  font-weight: 600;
}
form input,
form select {
  width: 98%;
  font-size: 1.125em;
  line-height: 2em;
  height: 2em;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}
input[type='submit'] {
  background: #1f9323;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  border: none;
  height: 3em;
  bottom: 0;
  position: fixed;
}
input[type='submit']:hover {
  cursor: pointer;
  cursor: hand;
}
.contact-card {
    overflow: hidden;
}
.contact-card .avatar,
.contact-card .contact {
    float: left;
}
.contact-card li {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
}
.contact-card .avatar {
    width: 50px;
    height: auto;
}
.select-contact {
  padding: 10px 15px;
  border: 1px gray solid;
  display: block;
  text-align: center;
}
.contact-selected {
  background: #3cb340;
  color: white;
  border: 1px #1f9323 solid;
}
