{% extends "layout.html" %}
{% block container %}
<form method="post" action="">
    {% csrf_token %}
    <ul>
        {% for key in properties_dictionary %}
        <li>
            <label for="{{ key.clean_name }}">{{ key.name  }}</label>
            <input name="{{ key.clean_name }}" id="{{ key.clean_name }}"></input>
        </li>
        {% endfor %}
        <li>
            <label for="id_zone">Zona</label>
            <select id="id_zone" name="zone">
                <option value="" selected="selected">Todas las Zonas</option>
                <option value="N">Norte</option>
                <option value="No">Noroccidente</option>
                <option value="O">Occidental</option>
                <option value="C">Chapinero</option>
                <option value="G">Guaymaral</option>
                <option value="C">Centro</option>
                <option value="S">Sur</option>
            </select>
        </li>
        <li>
            <label for="sector">Sector</label>
            <input name="sector" id="sector"></input>
        </li>
        <li>
            <label for="social-bedrooms">Alcobas</label>
            <select id="social-bedrooms" name="social-bedrooms">
                <option value=''>No importa</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </li>
        <li>
            <label for="service-bedrooms">Alcobas de servicio</label>
            <select id="service-bedrooms" name="service-bedrooms">
                <option value=''>No importa</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </li>
        <li>
            <label for="social-bathrooms">Baños sociales</label>
            <select id="social-bathrooms" name="social-bathrooms">
                <option value=''>No importa</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </li>
        <li>
            <label for="service-bathrooms">Baños de servicio</label>
            <select id="service-bathrooms" name="service-bathrooms">
                <option value=''>No importa</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </li>
        <li>
            <label for="parking-spaces">Parqueaderos</label>
            <select id="parking-spaces" name="parking-spaces">
                <option value=''>No importa</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </li>
        <li>
            <label for="parking-type">Tipo de Parqueadero</label>
            <select id="parking-type" name="parking-type">
                <option value="" selected="selected">No importa</option>
                <option value="I">Independiente</option>
                <option value="S">En servidumbre</option>
            </select>
        </li>
        <li>
            <label for="area">Área</label>
            <input id="area" name="area"></input>
        </li>
        <li>
            <label for="administrative-fee">Administracion</label>
            <input id="administrative-fee" name="administrative-fee"></input>
        </li>
        <li>
            <label for="antiquity">Antiguedad</label>
            <input id="antiquity" name="antiquity"></input>
        </li>
        <li>
            <label for="price">Precio</label>
            <input id="price" name="price"></input>
        </li>
        <li>
            <label for="duplex">Duplex</label>
            <select id="duplex" name="duplex">
                <option value="">No importa</option>
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
        </li>
        <li>
            <label for="penthouse">Penthouse</label>
            <select id="penthouse" name="penthouse">
                <option value="">No importa</option>
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
        </li>
        <li>
            <label for="study-room">Con cuarto de estudio</label>
            <select id="study-room" name="study-room">
                <option value="">No importa</option>
                <option value="1">Si</option>
                <option value="0">No</option>
            </select>
        </li>
    </ul>
    <input type="submit" value="Enviar"/>
</form>
{% endblock %}
