<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, maximum-scale = 1, minimum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}"
                    class="back">Inicio</a></li>
                <li><a href="{% url 'search' %}"
                    class="back">Buscar</a></li>
                <li><a href="{% url 'logout' %}"
                    class="logout">Salir</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"
                    class="login">Iniciar sesi&oacute;n</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="container">
        {% block container %}{% endblock %}
    </section>
</body>
</html>
