{% extends "layout.html" %}

{% block container %}
    <h2>Mis Propiedades</h2>
    <a href="{% url 'property-add' %}">Agregar Nueva Propiedad</a>
    <hr>
    <ul>
        {% for property in object_list %}
            <li><a href="{% url 'property-detail' pk=property.id %}">{{ property }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}