{% extends "layout.html" %}
{% block container %}
    <table>
        <tr>
            <td>Zona: </td>
            <td>{{object.zone}}</td>
        </tr>
        <tr>
            <td>Sector: </td>
            <td>{{object.sector}}</td>
        </tr>
        <tr>
            <td>Alcobas: </td>
            <td>{{object.social_bedrooms}}</td>
        </tr>
        <tr>
            <td>Alcobas de servicio</td>
            <td>{{object.service_bedrooms}}</td>
        </tr>
        <tr>
            <td>Baños sociales: </td>
            <td>{{object.social_bathrooms}}</td>
        </tr>
        <tr>
            <td>Baños de servicio</td>
            <td>{{object.service_bathtrooms}}</td>
        </tr>
        <tr>
            <td>Parqueaderos: </td>
            <td>{{object.parking_spaces}}</td>
        </tr>
        <tr>
            <td>Tipo de Parqueadero: </td>
            <td>{{object.parking_type}}</td>
        </tr>
        <tr>
            <td>Área: </td>
            <td>{{object.area}}</td>
        </tr>
        <tr>
            <td>Administración: </td>
            <td>{{object.administrative_fee}}</td>
        </tr>
        <tr>
            <td>Antigüedad: </td>
            <td>{{object.antiquity}}</td>
        </tr>
        <tr>
            <td>Precio: </td>
            <td>{{object.price}}</td>
        </tr>
        <tr>
            <td>Duplex: </td>
            <td>{{object.duplex}}</td>
        </tr>
        <tr>
            <td>Penthouse: </td>
            <td>{{object.penthouse}}</td>
        </tr>
        <tr>
            <td>Cuarto de Estudio: </td>
            <td>{{object.study_room}}</td>
        </tr>
        <tr>
            <td>Información Extra: </td>
            <td>{{object.extra_info}}</td>
        </tr>
    </table>
{% endblock %}