{% extends "layout.html" %}
{% block container %}
<form method="post" action="/contactar">
    {% csrf_token %}
    <ol>
        {% for contact in contacts %}
        <li class="contact-card">
            <img class="avatar" src='{{ contact.image_url }}'>
            <div class="contact">
                <ol>
                    <li>{{ contact.full_name }}</li>
                    <li>Propiedades encontradas {{ contact.found_properties|length }}</li>
                    <li>Reputacion +10/-3</li>
                    <li>
                        <a href="#" class="select-contact"
                          data-select-this-contact="{{ contact.id }}"
                          onclick="return select_contact(this);">Seleccionar</a>
                        <input type="hidden" class="check-contact"
                          name="contact" id="{{ contact.id }}"/>
                    </li>
                </ol>
            </div>
        </li>
        {% endfor %}
    </ol>
    <input type="submit" value="Contactar seleccionados"/>
</form>
<script>
    function select_contact(element) {
      var id = element.getAttribute('data-select-this-contact');
      var check_contact = document.getElementById(id);

      if(!check_contact.value) {
        element.className += " contact-selected";
        element.innerText = "Seleccionado";
        check_contact.value = id;
      } else {
        element.className = element.className.replace(" contact-selected", "");
        element.innerText = "Seleccionar";
        check_contact.value = null;
      }

      return false;
    }
</script>
{% endblock %}
